<!DOCTYPE html>
<html lang="en" style="background-color: #eef4f7;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MillenniumMoney</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/css/Features-Boxed.css">
    <link rel="stylesheet" href="/css/Footer-Basic.css">
    <link rel="stylesheet" href="/css/Header-Blue.css">
    <link rel="stylesheet" href="/css/Header-Dark.css">
    <link rel="stylesheet" href="/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="/css/Pretty-Header-1.css">
    <link rel="stylesheet" href="/css/Pretty-Header.css">
    <link rel="stylesheet" href="/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/Tamplate-SB-Admin-on-BSS.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md custom-header" style="background-color: #eef4f7;">
        <div class="container-fluid">
            <div><a class="navbar-brand" href="#">Millenniunm Money<span></span> </a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="navbar-nav links">
                    <li class="nav-item"><a class="nav-link" href="Dashboard.html" style="margin-right: 100px;">Home&nbsp;</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="margin-right: 100px;text-align: center;">Expenses&nbsp;</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"> Reports</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">Profile </a>
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Settings </a><a class="dropdown-item" href="#">Payments </a><a class="dropdown-item" href="#">Logout </a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Average Spending</h2>
                <p class="text-center"></p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item"></div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-box icon">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3"></polyline>
                            <line x1="12" y1="12" x2="20" y2="7.5"></line>
                            <line x1="12" y1="12" x2="12" y2="21"></line>
                            <line x1="12" y1="12" x2="4" y2="7.5"></line>
                        </svg>
                        <h3 class="name">Average Spending</h3>
                        <p class="description">Spendings between two months</p>

                        <body>
                            <canvas id="myChart" width="100px" height="100px"></canvas>
                        </body>

                        <script>
                            
                            //Pull Data from Mongo to display saving, wants, and needs.
                            // Enter code here
                            var rent1 = parseInt('<%= Rent1 %>')
                            var car1 = parseInt('<%= Car1 %>')
                            var phone1 = parseInt('<%= Phone1 %>')
                            var food1 = parseInt('<%= Food1 %>')
                            var fuel1 = parseInt('<%= fuel1 %>')
                            var leisure1 = parseInt('<%= Leisure1 %>')
                            var memberships1 = parseInt('<%= Memberships1 %>')
                            var util1 = parseInt('<%= Util1 %>')
                            var internet1 = parseInt('<%= Internet1 %>')

                            var rent2 = parseInt('<%= Rent2 %>')
                            var car2 = parseInt('<%= Car2 %>')
                            var phone2 = parseInt('<%= Phone2 %>')
                            var food2 = parseInt('<%= Food2 %>')
                            var fuel2 = parseInt('<%= fuel2 %>')
                            var leisure2 = parseInt('<%= Leisure2 %>')
                            var memberships2 = parseInt('<%= Memberships2 %>')
                            var util2 = parseInt('<%= Util2 %>')
                            var internet2 = parseInt('<%= Internet2 %>')
                            
                            
                            var ctx = document.getElementById("myChart");
                            var myChart = new Chart(ctx, {
                                type: "bar",
                                data: {
                                    labels: [
                                        "Rent",
                                        "Car",
                                        "Phone",
                                        "Food",
                                        "Fuel",
                                        "Leisure",
                                        "Memberships",
                                        "Utilities",
                                        "Internet"
                                    ],
                                    datasets: [
                                        {
                                            label: "Current Month",
                                            data: [rent1, car1, phone1, food1, fuel1, leisure1, memberships1, util1, internet1],
                                            backgroundColor: "blue",
                                            
                                            borderWidth: 1,
                                        },
                                        {
                                            label: "Previous Month",
                                            data: [rent2, car2, phone2, food2, fuel2, leisure2, memberships2, util2, internet2],
                                            backgroundColor: "red",
                                            
                                            borderWidth: 1,
                                        },
                                    ],
                                },
                            });
                        </script>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item"></div>
            </div>
        </div>
    </section>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>